<!DOCTYPE html>
<!--引入thymeleaf-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <style>
        .layui-logo {
            font-family: 华文行楷;
        }
    </style>
</head>
<body>
<!--<div th:fragment="header" class="layui-header layui-bg-black">-->
<!--    <div class="layui-logo">宿舍管理系统</div>-->
<!--    <ul class="layui-nav layui-layout-right">-->
<!--        <li class="layui-nav-item">-->
<!--            <div sec:authorize="isAuthenticated()" style="padding-right: 10px">-->
<!--                <span sec:authentication="name"></span>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li class="layui-nav-item layui-hide-xs">-->
<!--            <form th:action="@{/mylogout}" th:method="post">-->
<!--                <button type="submit" class="layui-btn layui-bg-black">退出</button>-->
<!--            </form>-->
<!--        </li>-->
<!--    </ul>-->
<!--    <div class="layui-side layui-bg-black">-->
<!--        <div class="layui-side-scroll" style="background-color: #2F4056">-->
<!--            &lt;!&ndash; 左侧导航区域（可配合layui已有的垂直导航） &ndash;&gt;-->
<!--            <ul class="layui-nav layui-nav-tree" lay-filter="test">-->
<!--                <li class="layui-nav-item layui-nav-itemed"><a href="javascript:;">学生信息管理</a>-->
<!--                    <dl class="layui-nav-child">-->
<!--                        <dd>-->
<!--                            <a th:href="@{/dormManager/toStudent}">学生信息查询</a>-->
<!--                        </dd>-->
<!--                    </dl>-->
<!--                </li>-->
<!--                <li class="layui-nav-item"><a href="javascript:;">宿舍楼信息管理</a>-->
<!--                    <dl class="layui-nav-child">-->
<!--                        <dd>-->
<!--                            <a th:href="@{/dormManager/toBuilding}">宿舍楼信息查询</a>-->
<!--                        </dd>-->
<!--                    </dl>-->
<!--                </li>-->
<!--                <li class="layui-nav-item"><a href="javascript:;">学生寝室管理</a>-->
<!--                    <dl class="layui-nav-child">-->
<!--                        <dd>-->
<!--                            <a th:href="@{/dormManager/toBuilding}">寝室信息查询</a>-->
<!--                        </dd>-->
<!--                    </dl>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

    <div th:fragment="header" class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">公益众筹系统</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <!-- 移动端显示 -->
            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
                <i class="layui-icon layui-icon-spread-left"></i>
            </li>

            <li class="layui-nav-item layui-hide-xs"><a href="">首页</a></li>
            <li class="layui-nav-item layui-hide-xs"><a href="">公益项目</a></li>
            <li class="layui-nav-item layui-hide-xs"><a href="">公益组织</a></li>
            <li class="layui-nav-item layui-hide-xs"><a href="">失信人名单</a></li>

        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a href="javascript:;">
                    <span>hh</span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">Your Profile</a></dd>
                    <dd><a href="">Settings</a></dd>
                    <dd><a href="">Sign out</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</body>
</html>