<!DOCTYPE html>
<!--引入thymeleaf-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <title>Title</title>
    <style>
        .layui-logo {
            font-family: 华文行楷;
        }
    </style>
</head>
<body>
    <div th:fragment="header" class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">公益众筹系统</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <!-- 移动端显示 -->
            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
                <i class="layui-icon layui-icon-spread-left"></i>
            </li>

            <li class="layui-nav-item layui-hide-xs"><a href="">首页</a></li>
            <li class="layui-nav-item layui-hide-xs"><a href="">公益项目</a></li>
            <li class="layui-nav-item layui-hide-xs"><a th:href=@{"/main/toshoworg"}>公益组织</a></li>
            <li class="layui-nav-item layui-hide-xs"><a href="">失信人名单</a></li>

        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a href="javascript:;">
                    <span>hh</span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/main/toPersonalCenter}">Your Profile</a></dd>
                    <dd><a href="">Settings</a></dd>
                    <dd><a th:href="@{/logout}">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</body>
</html>