<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <style type="text/css">
        .tupian {
            float: left;
            list-style: none;
            padding: 40px;
        }
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div th:insert="fronted/header :: header"></div>
    <div class="layui-body">
        <ul>
            <tr th:each="o:${orgResult}">

                <li class="tupian">
                    <div class="card">
                        <p th:text="组织代码：+${.orgCode}"></p>
                        <a>
                            <div class="wall"><img th:src="${filePath+o.pic}" width="295px" height="166">
                            </div>

                            <p th:text="组织名称+${o.orgName}"></p>
                        </a>
                    </div>
                </li>
            </tr>
        </ul>
    </div>
</div>
<script src="/lib/layui/layui.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
<script>
    layui.use('element', function(){
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        //监听导航点击
        element.on('nav(demo)', function(elem){
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
</script>
</body>
</html>