<!DOCTYPE html>
<!--引入thymeleaf-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>
    <title>众筹公益系统后台管理</title>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/xadmin.css}">
    <!--<script type="text/javascript" th:src="@{/layui/layui.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/xadmin.js}" charset="UTF-8"></script>


    <!--[if lt IE 9]>
    <script th:src="@{https://cdn.staticfile.org/html5shiv/r29/html5.min.js}"></script>
    <script th:src="@{https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js}"></script>
    <![endif]-->


</head>

<script type="text/html" id="toolbarDemo">
    <button class="layui-btn layui-btn-sm" lay-event="pass" onclick="return false;">通过</button>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="pass">通过</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="noPass">不通过</a>
</script>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>
    <!--<a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>-->
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form" action="">
                        <div class="layui-form layui-form-pane">
                            <div class="layui-form-item">

                                <div class="layui-inline" style="margin-left: -1px">
                                    <input type="text" id="title" name="title" placeholder="项目名称"
                                           autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline" style="margin-left: -1px">
                                    <input type="text" id="name" name="name" placeholder="申请人"
                                           autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline" style="margin-left: -1px">
                                    <input type="text" id="checkUser" name="checkUser" placeholder="审核人"
                                           autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline" style="margin-left: -1px">
                                    <input type="text" id="orgCode" name="orgCode" placeholder="组织编号"
                                           autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline" style="margin-left: -1px">
                                    <input type="text" id="orgName" name="orgName" placeholder="请输入组织名称"
                                           autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline" style="margin-left: -1px">
                                    <input type="text" id="timeLeft" name="timeLeft" placeholder="创建时间"
                                           autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline" style="margin-left: -1px">
                                    <input type="text" id="timeRight" name="timeRight" placeholder="创建时间"
                                           autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline" style="margin-left: 9px">
                                    <button class="layui-btn" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i>
                                    </button>
                                    <button type="reset" class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe669;</i></button>
                                </div>
                        </div>
                        <div>
                            <!--<table class="layui-table"></table>-->
                            <table class="layui-hide" id="test" lay-filter="test"></table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script type="text/html" id="img">-->
<!--    <div class="layer-photos-demo">-->
<!--        <img th:layer-src="${filePath}+'{{d.filePath}}'" th:src="${filePath}+'{{d.filePath}}'" height="30" width="50"-->
<!--             alt="{{d.filePath}}"-->
<!--             style="border: 1px solid #aaaaaa;cursor: pointer">-->
<!--    </div>-->
<!--</script>-->

<script id="img" type="text/html">
    {{# var srr=d.filePath.split(",");
    for(var j in srr) { srr[j] }}
    <div class="layer-photos-demo" style="margin:0 10px; display:inline-block !important; display:inline;  max-width:70px; max-height:50px;">
        <img style=" max-width:70px; max-height:50px;" th:layer-src="${filePath}+'{{srr[j]}}'" th:src="${filePath}+'{{srr[j]}}'" />
    </div>
    {{# } }}
</script>

<script type="text/javascript" th:src="@{/layui2.6/layui.js}" charset="UTF-8"></script>
<script>
    layui.use(['table', "form", 'element', 'layer'], function () {
        const element = layui.element;
        const table = layui.table;
        const form = layui.form;
        const layer = layui.layer;
        const $ = layui.$
        const tableIns = table.render({
            elem: '#test',
            type: 'GET'
            ,url:'/project/StayProjectList'
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , where: {
                title: $('input[name="title"]').val(),
                name: $('input[name="name"]').val(),
                checkUser: $('input[name="checkUser"]').val(),
                orgCode: $('input[name="orgCode"]').val(),
                orgName: $('input[name="orgName"]').val(),
                timeLeft: $('input[name="timeLeft"]').val(),
                timeRight: $('input[name="timeRight"]').val(),
            }
            ,title: '待发布的项目数据表'
            , cellMinWidth: 80//全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    ,{
                    align: 'center', title: '序号', width: 80, templet: function (data) {
                        return (data.LAY_TABLE_INDEX + 1);
                    }
                }
                    ,{field:'title', title:'项目标题', align: 'center', edit: 'text'}
                    ,{field:'content', title:'项目内容', align: 'center', edit: 'text'}
                    ,{field:'resMoney', title:'项目金额', align: 'center'}
                    ,{field:'nowMoney', title:'已有金额', align: 'center', edit: 'text'}
                    ,{field:'name', title:'申请人', align: 'center'}
                    ,{field:'sfzh', title:'身份证号码', align: 'center'}
                    ,{field:'phone', title:'联系电话', align: 'center', sort: true}
                    //,{field:'lock', title:'是否锁定', width:110, templet: '#checkboxTpl', unresize: true}
                    ,{field:'checkUser', title:'审核人', align: 'center'}
                    ,{field:'orgCode', title:'组织编码', align: 'center'}
                    ,{field:'orgName', title:'组织名', align: 'center'}
                    ,{field:'filePath', title:'文件', align: 'center', width:100, templet: "#img", event: "pit"}
                    ,{field:'status', title:'状态', align: 'center'}
                    ,{field:'reason', title:'未通过原因', align: 'center'}
                    ,{field:'createTime', title:'创建时间', align: 'center'}
                    ,{field:'updateTime', title:'更新时间', align: 'center'}
                    ,{fixed: 'right', title:'操作', align: 'center', toolbar: '#barDemo', width:80}
                ]
            ]
            ,page: true
            , even: true
        });

        //搜索重载
        form.on('submit(search)', function (data) {
            tableIns.reload({
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false;
        });


//监听行工具事件
        table.on('tool(test)',function (obj) {
            const data=obj.data,
                layEvent=obj.event;
            if (layEvent==='pass'){
                layer.confirm('确定要通过审核吗?',function (index) {
                    obj.del()
                    layer.close(index);
                    $.ajax({
                        url: '/org/updatePassProject?id='+data.id ,
                        type:'POST',
                        success:function (res) {
                            if (res.code==200){
                                layer.msg("操作成功!", {icon: 6});
                                setTimeout(function () {
                                    location.reload();
                                }, 1000);
                            }else {
                                layer.msg("操作失败!",{icon:5})
                            }
                        }
                    });
                    return false;
                });
            }else if (obj.event === 'noPass') {
                layer.confirm('审核不通过吗?',function (index) {
                    obj.del()
                    layer.close(index);
                    $.ajax({
                        url: '/org/updateNoPassProject?id='+data.id ,
                        type:'POST',
                        success:function (res) {
                            if (res.code==200){
                                layer.msg("操作成功!", {icon: 6});
                                setTimeout(function () {
                                    location.reload();
                                }, 1000);
                            }else {
                                layer.msg("操作失败!",{icon:5})
                            }
                        }
                    });
                    return false;
                });
            }else if (obj.event === 'pit') {
                layer.photos({
                    photos: '.layer-photos-demo'
                    , anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
                });
            }

        });


        //监听头工具栏事件
        table.on('toolbar(test)', function (obj) {

            const checkStatus = table.checkStatus(obj.config.id);
            let data = checkStatus.data;
            console.log(data)
            let ids = [];
            layui.each(data, (index, item) => {
                ids.push(item.id);
            });
            switch (obj.event) {
                case 'pass':
                    if (data.length === 0) {
                        layer.msg('请选择数据', {icon: 2, anim: 6});
                        return;
                    }
                    layer.confirm('确定进行批量通过审核操作吗？', {icon: 3, closeBtn: 0}, function (index) {
                        $.ajax({
                            url: '/org/passOrgList',
                            type: 'POST',
                            data: JSON.stringify(ids),
                            contentType: "application/json;charset=UTF-8",
                            success: function (res) {
                                console.log(JSON.stringify(res) )
                                if (res) {
                                    layer.msg("操作成功", {icon: 6});
                                    setTimeout(function () {
                                        location.reload();
                                    }, 1000);
                                }
                            },
                            error: function () {
                                layer.msg("操作失败", {icon: 2})
                            }
                        });
                        return false;
                    })
                    break;

            }
        });
    });
</script>
</body>
</html>
