<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <title>公益众筹系统登录界面</title>
    <link rel="stylesheet" href="/css/logins.css">
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <style>

    </style>
</head>
<body>
<div class="layui-form">
    <div class="dowebok">
        <div class="logo"></div>
        <div class="form-item">
            <input id="account" name="account" type="text" autocomplete="off" placeholder="账户">
            <!--        <p class="tip">请输入合法的邮箱地址</p>-->
        </div>
        <div class="form-item">
            <input id="password" name="password" type="password" autocomplete="off" placeholder="密码">
            <!--        <p class="tip">邮箱或密码不正确</p>-->
        </div>
        <div class="form-item">
            <button class="layui-btn" lay-submit lay-filter="formDemo">登录</button>
        </div>
        <div class="reg-bar">
            <a class="reg" th:href="@{/register}">立即注册</a>
            <a class="forget" href="http://www.dowebok.com">忘记密码</a>
        </div>
    </div>
</div>
<script src="/login/jquery.min.js"></script>
<script src="/lib/layui/layui.js"></script>
<script>
    $(function () {
        $('input').val('')
        $('#submit').on('click', function () {
            $('.tip').show()
        })
    })
    layui.use('form', function(){
        var form = layui.form,
            $=layui.$;

        //监听提交
        form.on('submit(formDemo)', function(data){
            $.ajax({
                url:'/user/login',
                method:'POST',
                data:data.field,
                success:function (res) {
                    if (res.code==200){
                        layer.msg('登录成功', {
                            icon: 6,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            window.location.href=res.data;
                        });
                    }
                }
            })
            return false;
        });
    });
</script>
</body>
</html>