<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.sise.welfare.mapper.OrgMapper">

    <select id="selectPassOrgList" parameterType="cn.com.sise.welfare.model.OrgSearchModel"
            resultType="cn.com.sise.welfare.entity.OrgEntity">
        select
            id,
            org_code as orgCode,
            org_name as orgName,
            address,
            linkman,
            phone,
            email,
            file_path as filePath,
            create_time as createTime,
            reason
        from tb_org
        <where>
            status = '1'
            <if test=" org.orgCode != null and org.orgCode != '' ">
                and org_code like concat('%', #{org.orgCode}, '%')
            </if>
            <if test=" org.orgName != null and org.orgName != '' ">
                and org_name like concat('%', #{org.orgName}, '%')
            </if>
            <if test=" org.linkman != null and org.linkman != '' ">
                and linkman like concat('%', #{org.linkman}, '%')
            </if>
            <if test=" org.phone != null and org.phone != '' ">
                and phone = #{org.phone}
            </if>
        </where>
    </select>

    <select id="selectNoPassOrgList" parameterType="cn.com.sise.welfare.model.OrgSearchModel"
            resultType="cn.com.sise.welfare.entity.OrgEntity">
        select
        id,
        org_code as orgCode,
        org_name as orgName,
        address,
        linkman,
        phone,
        email,
        file_path as filePath,
        create_time as createTime,
        reason
        from tb_org
        <where>
            status = '2'
            <if test=" org.orgCode != null and org.orgCode != '' ">
                and org_code like concat('%', #{org.orgCode}, '%')
            </if>
            <if test=" org.orgName != null and org.orgName != '' ">
                and org_name like concat('%', #{org.orgName}, '%')
            </if>
            <if test=" org.linkman != null and org.linkman != '' ">
                and linkman like concat('%', #{org.linkman}, '%')
            </if>
            <if test=" org.phone != null and org.phone != '' ">
                and phone = #{org.phone}
            </if>
        </where>
    </select>

    <select id="selectStayOrgList" parameterType="cn.com.sise.welfare.model.OrgSearchModel"
            resultType="cn.com.sise.welfare.entity.OrgEntity">
        select
        id,
        org_code as orgCode,
        org_name as orgName,
        address,
        linkman,
        phone,
        email,
        file_path as filePath,
        create_time as createTime,
        reason
        from tb_org
        <where>
            status = '0'
            <if test=" org.orgCode != null and org.orgCode != '' ">
                and org_code like concat('%', #{org.orgCode}, '%')
            </if>
            <if test=" org.orgName != null and org.orgName != '' ">
                and org_name like concat('%', #{org.orgName}, '%')
            </if>
            <if test=" org.linkman != null and org.linkman != '' ">
                and linkman like concat('%', #{org.linkman}, '%')
            </if>
            <if test=" org.phone != null and org.phone != '' ">
                and phone = #{org.phone}
            </if>
        </where>
    </select>

    <update id="passOrgList" parameterType="List">
        update tb_org set status = '1' where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>



</mapper>
